
@font-face {
    font-family: 'Indie Flower';
    font-style: normal;
    font-weight: 400;
    /*src: local('Ind Flower'), local('IndieFlower'), url(https://fonts.gstatic.com/s/indieflower/v9/10JVD_humAd5zP2yrFqw6ugdm0LZdjqr5-oayXSOefg.woff2) format('woff2');*/
    src: url(https://fonts.gstatic.com/s/indieflower/v9/10JVD_humAd5zP2yrFqw6ugdm0LZdjqr5-oayXSOefg.woff2) format('woff2');

    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

body {
    /*padding-left: 20%;*/
    /*padding-right: 20%;*/
    padding: 50px 20%;
    font-family: "Indie Flower",Georgia, Sans-Serif, Serif;

}

h1, h2, h3, h4, h5, h6, strong {
    color:Plum;
}

h1 {
    text-transform: uppercase;
}

h1, h3 {
    text-align: center;
}

h2 {
    text-align: right;

    border-bottom-color: LightSlateGray;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}

hr {
    color: LightSlateGray;
    border: thin dotted ;
    width: 50%
}

p {
    color: DarkSlateGray;
    text-align: justify;
    /*font-style: italic;*/
}

#big-achievement {
    color: red;
}

#standout  p {
    font-style: italic;
}