
body {
    padding-left: 20%;
    padding-right: 20%;
}

h1, h2, h3, h4, h5, h6, strong {
    color:Plum;
}

h1, h3 {
    text-align: center;
}

h2 {
    text-align: right;

    border-bottom-color: LightSlateGray;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}

hr {
    color: LightSlateGray;
    border: thin dotted ;
    width: 50%
}

p {
    color: DarkSlateGray;
    font-family: Georgia, Sans-Serif, Serif;
}